In [1]:
!pip install fidap

Successfully installed fidap-0.0.1

In [20]:
import fidap

In [12]:
fidap.sql("""select name, display_name, rows, cols from meta_tables""")

                   name       display_name        rows   cols
0          fundamentals       Fundamentals    523212.0  111.0
1        insider_trades     Insider Trades   8623135.0   24.0
2     portfolio_details  Portfolio Details  35663356.0    7.0
3                events             Events    573721.0    3.0
4   ticker_shareholders            Holders    355854.0   29.0
5            portfolios         Portfolios    134249.0   28.0
6               tickers            Tickers      6199.0  205.0
7                 sp500            S&P 500     12910.0    7.0
8               actions       Corp Actions     18988.0    7.0
9                 daily      Daily History  21941230.0   38.0
10                dates              Dates      1511.0    3.0
11                 corr       Correlations     43770.0    3.0

In [5]:
fidap.sql("""select * from meta_fields where "table"='insider_trades' """).head()

,table,name,display_name,description,pd_type,pct_filled,uniqueness,mean,median
0,insider_trades,ticker,Ticker Symbol,The ticker is a unique identifer for an issuer...,object,1.000000,1.516270e-03,NaN,NaN
1,insider_trades,filingdate,Filing Date,The date the form was filed with the SEC.,datetime64[ns],1.000000,3.777049e-04,NaN,NaN
2,insider_trades,formtype,Form Type,"""The type of SEC form . Available options are ...",object,1.000000,6.958026e-07,NaN,NaN
3,insider_trades,issuername,Issuer Name,The name of the security issuer.,object,0.990162,1.494700e-03,NaN,NaN
4,insider_trades,ownername,Owner Name (Insider / Investor),The name of the owner.,object,1.000000,1.888571e-02,NaN,NaN

In [3]:
fidap.sql("""select tickers.ticker, tickers.name,  tickers.industry, tickers.rev_yoy, tickers.pc_1y
from tickers where tickers.sector = 'Technology' and tickers.marketcap > 10e9 and tickers.rev_yoy < 0 
order by pc_1y desc limit 5""")

,ticker,name,industry,rev_yoy,pc_1y
0,ENPH,ENPHASE ENGY INC,Solar,-0.008631,4.980573
1,RUN,SUNRUN INC,Solar,-0.026825,3.891082
2,SEDG,SOLAREDGE TECH INC,Solar,-0.176495,2.134466
3,ZG,ZILLOW GRP INC,Internet Content & Information,-0.118780,2.006857
4,NUAN,NUANCE COMM INC,Software - Application,-0.089387,1.469336

In [19]:
fidap.sql("""select ticker, name, exchange from tickers limit 10""")

  ticker                                   name exchange
0      A                       AGILENT TECH INC     NYSE
1     AA                             ALCOA CORP     NYSE
2   AAAP  ADVANCED ACCELERATOR APPLICATIONS S A   NASDAQ
3   AACH                          AAC HLDGS INC     NYSE
4   AACQ                         ARTIUS ACQ INC   NASDAQ
5   AAIC               ARLINGTON ASSET INV CORP     NYSE
6    AAL                AMERICAN AIRLNS GRP INC   NASDAQ
7   AAMC             ALTISOURCE ASSET MGMT CORP  NYSEMKT
8   AAME                 ATLANTIC AMERICAN CORP   NASDAQ
9   AAOI            APPLIED OPTOELECTRONICS INC   NASDAQ